ul {
  list-style-type: none;
}
li {
  display: flex;
  flex-wrap: wrap;

}

.senateBox{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-self: center;
}

fieldset{
  width: 300px;
  margin: 5px;
  align-self: center;
}
